     section {
       background: rgb(45, 45, 45);
        color: #fff;
        padding: 5rem 0px;
      }

      section h2 {
        font-size: 3rem;
        padding: 0 5rem;
      }

      .text {
        font-size: 1.1rem;
        padding: 0 5rem;
        margin: 5rem 0;
      }

      .bg1 {
        background-image: url(./img/sport-1.jpg);
      }

      .bg2 {
        background-image: url(./img/sport-2.jpg);
      }

      .bg3 {
        background-image: url(./img/sport-3.jpg);
      }

      .box {
        height: 500px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
      }
      .box h4 {
        font-size: 3.8rem;
        font-weight: 700;
        text-transform: uppercase;

        /* BEST TEXT COLOR */
        color: transparent;
        -webkit-text-stroke: 2.5px #f5f5f5;   /* soft white */

        letter-spacing: 4px;

        /* hover effect */
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
        transition: opacity 0.4s ease, transform 0.4s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;
      }

      .box:hover h4 {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }


      .box::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.1);
      }
